@model LightWAP.Web.Areas.Admin.Models.Language.LanguageModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageCulture" class="control-label"></label>
                <input asp-for="LanguageCulture" class="form-control" />
                <span asp-validation-for="LanguageCulture" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="FlagImageFileName" class="form-control" />
                <span asp-validation-for="FlagImageFileName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                </label>
                <label class="ml-4 form-check-label">
                    <input class="form-check-input" asp-for="Rtl" /> @Html.DisplayNameFor(model => model.Rtl)
                </label>
            </div>
            <div class="form-group form-check">
            </div>
        </form>
    </div>
</div>

@Html.Partial("_LanguageResourceStringList", Model.LanguageStringResources)

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
