@model List<LanguageModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<a asp-action="Create">Add</a>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th> Name </th>
        <th> Published </th>
    </tr>
    @foreach (var language in Model)
    {
        <tr>
            <td> @language.Id </td>
            <td> @language.Name </td>
            <td> @language.Published </td>
            <td>
                <a asp-action="Edit"  asp-route-id="@language.Id">Edit</a>
            </td>
        </tr>
    }
</table>